# macOS system files
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Thumbnails
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# IDE and editor folders
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Node.js dependencies
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Distribution / build folders
/dist
/build 